Label {
    color: black;
    -unity-font-definition: url("/Assets/Fonts/Factor A-Regular-Web.ttf");
}

.root {
    height: 100%;
    width: 100%;
    background-color: #E6E6F7;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.content-column {
    width: 100%;
    max-width: 824px;
    flex-direction: column;
}

.content-column > * {
    margin: 16px 0 16px 0;
}

.sidebar-column {
    flex-grow: 1;
    flex-shrink: 1;
}

.hidden {
    display: none;
}

.panel-block {
    background-color: white;
    border-radius: 32px;
}

.panel-element {
    background-color: white;
    border-radius: 16px;
}

.shade {
    
}