Label {
    color: black;
    -unity-font-definition: url("/Assets/Fonts/Factor A-Regular-Web.ttf");
}

.root {
    height: 100%;
    width: 100%;
    background-color: #F5F6F7;
    flex-direction: row;
}

#header {
    height: 25%;
}

.center {
    align-items: center;
    justify-content: center;
}

.content-column {
    width: 100%;
    max-width: 824px;
    flex-direction: column;
    
    margin-bottom: 32px;
}

.content-column > * {
    margin: 16px 0 16px 0;
}

.sidebar-column {
    flex-grow: 1;
    flex-shrink: 1;
}

.hidden {
    display: none;
}

.stretch {
    flex-grow: 1;
}

.border {
    border-width: 2px;
    border-color: black;
}

.no-border {
    border-width: 0;
}

.panel-block {
    background-color: white;
    border-radius: 32px;
}

.panel-element {
    background-color: white;
    border-radius: 16px;
}

.btn-box .panel-element {
    background-color: #EAE6FF;
    white-space: normal;
}

.btn-box .panel-element:hover {
    background-color: #DDD7FFE5;
}

.btn-box:hover {
    scale: 1.1;
}

.fill {
    height: 100%;
    width: 100%;
}

.background-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.shadow {
    --box-shadow-offset-x: 0;
    --box-shadow-offset-y: 16;
    --box-shadow-blur: 18;
    --box-shadow-spread: 0;
    --box-shadow-color: #394E7F29;
    --box-shadow-inset: 0; /* false */
}


.shadow-static {
    --box-shadow-offset-x: 0;
    --box-shadow-offset-y: 16;
    --box-shadow-blur: 18;
    --box-shadow-spread: 0;
    --box-shadow-color: #394E7F29;
    --box-shadow-inset: 0; /* false */
}

.shadow:hover {
    --box-shadow-offset-x: 0;
    --box-shadow-offset-y: 18;
    --box-shadow-blur: 48;
    --box-shadow-spread: 0;
    --box-shadow-color: #394E7F33;
    --box-shadow-inset: 0; /* false */
}