.header {
    background-color: white;
    border-radius: 0 0 16px 16px;
    align-items: center;
    justify-content: center;
    
    font-size: 120px;
    -unity-font-definition: url("/Assets/Fonts/Factor A-Extrabold-Web.ttf");
    -unity-font-style: bold;
    /*visibility: hidden;*/
    
    height: 100%;
}

.shadow-static {
    height: 100%;
}