.card Button {
    /*height: 92px;*/
    width: 100%;
    font-size: 36px;
    background-color: #EAE6FF;
}

.card Button:hover {
    background-color: #DDD7FFE5;
}

.card:hover {
    scale: 1.1;
}

#card-icon {
    height: 66%;
    width: 66%;
    align-self: center;
}

#card-text {
    white-space: normal;
    /*-unity-font-definition: url("/Assets/Fonts/Factor A-Italic-Web.ttf");*/
    -unity-font-style: italic;
    margin-top: auto;
}