.card Button {
    height: 92px;
    width: 100%;
    font-size: 36px;
    
}

.card Button:hover {
    background-color: aquamarine;
}

#card-icon {
    
}

#card-text {
    white-space: normal;
    /*-unity-font-definition: url("/Assets/Fonts/Factor A-Italic-Web.ttf");*/
    -unity-font-style: italic;
}