#toggle-mode {
    height: 128px;
    font-size: 36px;
}

#poetry-mode #card-icon {
    --unity-image: url('project://database/Assets/Sprites/poetry-icon.svg');
}

#lyrics-mode #card-icon {
    --unity-image: url('project://database/Assets/Sprites/lyrics-icon.svg');
}

#poetry-mode Button {
    height: 256px;
    width: 256px;
}

#lyrics-mode Button {
    height: 256px;
    width: 256px;
}

#select-mode-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#select-mode-container > * {
    margin: 16px;
}
