#task-panel {
    padding: 36px 36px 64px;
}

.hint {
    font-size: 32px;
    -unity-font-style: bold-and-italic;
    white-space: normal;
}

#unity-text-input {
    background-color: #EAE6FF;
    border-radius: 16px;
    border-width: 0;
    font-size: 28px;
    -unity-font-style: italic;
}

.task-ready {
    margin-top: auto;
}

.task-ready Button {
    font-size: 32px;
    -unity-font-style: italic;
}

.primary-color #btn {
    background-color: #765FDE;
    color: white;
}

.primary-color:hover #btn {
    background-color: #634AD6;
}

#task-keywords-preview {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#task-keywords-preview > * {
    margin: 16px;
}

#keywords-panel {
    position: absolute;
    left: 32px;
    right: 32px;
    top: 32px;
    height: 100%;
    width: 80%;
    margin: 0;
    font-size: 42px;
}

#keywords-panel .keyword-panel {
    margin-bottom: 16px;
}

#loading Image {
    --unity-image: url("/Assets/Sprites/spinner.svg");
    height: 256px;
    width: 256px;
    
    
}